
/* profile text */
.profile-div{
    position: absolute;
    width: 141px;
    height: 45px;
    left: 687px;
    padding-top: 26px;
}

.profile_h1{
   

    font-family: 'Calibri';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 32px;
    line-height: 39px;

    color: #000000;
}

/* profile img */
.profileimg {
    position: absolute;
       left: 46.7%;
    right: 47.5%;
    top: 28.06%;
    bottom: 60.56%;


}

/* edit icon */
.editicon {
    position: absolute;
    left: 53%;
    right: 0%;
    top: 31.58%;
    bottom: 0%;
    cursor: pointer;

}

/* container */
.profile-container {
    background: #F8F7F7;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 957px;
    width: 943px;
    padding-left: 40px;
    margin-left: 240px;
    top: 303px;
    bottom: 200px;
    position: absolute;

}

/* container tex */
.pflname {
    position: absolute;
    width: 288px;
    height: 44.24px;
    left: 56px;
    top: 54.47px;

    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    color: #000000;

}

.line1 {
    position: absolute;
    width: 980px;
    height: 0px;
    left: 2px;
    top: 96px;

    border: 1px solid #939393;
}

.pflname1 {
    position: absolute;
    width: 288px;
    height: 44.24px;
    left: 56px;
    top: 140.47px;

    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    color: #000000;
}

.line2 {
    position: absolute;
    width: 980px;
    height: 0px;
    left: 2px;
    top: 196px;
    border: 1px solid #939393;
}

.pflname2 {
    position: absolute;
    width: 288px;
    height: 44.24px;
    left: 56px;
    top: 230px;

    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    color: #000000;
}

.line3 {
    position: absolute;
    width: 980px;
    height: 0px;
    left: 2px;
    top: 296px;
    border: 1px solid #939393;
}

.pflname3 {
    position: absolute;
    width: 288px;
    height: 44.24px;
    left: 56px;
    top: 320px;

    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    color: #000000;
}

.line4 {
    position: absolute;
    width: 980px;
    height: 0px;
    left: 2px;
    top: 396px;
    border: 1px solid #939393;
}


.pflname4 {
    position: absolute;
    width: 288px;
    height: 44.24px;
    left: 56px;
    top: 420px;

    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    color: #000000;
}

.line5 {
    position: absolute;
    width: 980px;
    height: 0px;
    left: 2px;
    top: 496px;
    border: 1px solid #939393;
}

.pflname5 {
    position: absolute;
    width: 288px;
    height: 44.24px;
    left: 56px;
    top: 520px;

    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    color: #000000;
}

.line6 {
    position: absolute;
    width: 980px;
    height: 0px;
    left: 2px;
    top: 596px;
    border: 1px solid #939393;
}

.pflname5 {
    position: absolute;
    width: 288px;
    height: 44.24px;
    left: 56px;
    top: 520px;

    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    color: #000000;
}

.line6 {
    position: absolute;
    width: 980px;
    height: 0px;
    left: 2px;
    top: 640px;
    border: 1px solid #939393;
}

.pflname6 {
    position: absolute;
    width: 288px;
    height: 44.24px;
    left: 56px;
    top: 680px;

    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    color: #000000;
}

.line7 {
    position: absolute;
    width: 980px;
    height: 0px;
    left: 2px;
    top: 769px;
    border: 1px solid #939393;
}

.pflname7 {
    position: absolute;
    width: 288px;
    height: 44.24px;
    left: 56px;
    top: 816px;

    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    color: #000000;
}
.line8
{
    position: absolute;
    width: 980px;
    height: 0px;
    left: 2px;
    top: 906px;

    border: 1px solid #939393;
}
.pflname8{
    position: absolute;
    width: 288px;
    height: 44.24px;
    left: 56px;
    top: 932px;

    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}