/* nav icon */
.job4 {
    padding-right: 80%;
    margin-left: 27px;
    WIDTH: 61%;
}


/* navtext */
.navtxtapl {

    position: absolute;
    width: 82px;
    height: 27px;
    left: 920px;
    top: 33px;
    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

.navtxtapl1 {

    position: absolute;
    width: 82px;
    height: 27px;
    left: 1020px;
    top: 33px;
    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;

}

.navtxtapl2 {

    position: absolute;
    width: 146px;
    height: 27px;
    left: 1120px;
    top: 33px;
    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

.navtxtapl3 {

    position: absolute;
    width: 82px;
    height: 27px;
    left: 1280px;
    top: 33px;
    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

.navtxtapl4 {

    position: absolute;
    width: 82px;
    height: 27px;
    left: 1380px;
    top: 33px;
    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}

/* container */
.applied-container {
    position: absolute;
    left: 4.53%;
    right: 31.61%;
    top: 22.08%;
    bottom: 50.53%;

    background: #F9DAD9;
    border-radius: 20px;
}

/* button */
.appliedjob {
    width: 156px;
    height: 40px;
   margin-left:60%;
   margin-top: 10%;
    text-align: center;
    background: #CBE6FF;
    border-radius: 10px;
    font-family: 'Arial';
    color: #184F79;
    font-style: normal;
    border: transparent;
    
}

.Applyedtxt {
    position: absolute;
    left: 9.14%;
    right: 34.3%;
    top: 10%;
    bottom: 69.03%;

    font-family: 'Bungee';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;

    color: #184F79;
}

.Applyedtxt1 {
    position: absolute;
    left: 10.94%;
    right: 44.84%;
    top: 31.53%;
    bottom: 55.83%;

    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #1E11FD;

}

.Applyedtxt2 {
    position: absolute;
    left: 10.94%;
    right: 44.84%;
    top: 50%;
    bottom: 58%;

    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

/* Response from the recruiter */
.responsetxt {
    position: absolute;
    left: 8.36%;
    right: 37.42%;
    top: 61.25%;
    bottom: 33.19%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

    color: #000000;
}
.reply_response{
    padding-top: 30%;
    padding-left: 15%;
}
.BacktoJobApply-icon {
    position: absolute;
    left: 1.95%;
    right: 97.26%;
    top: 22.64%;
    bottom: 75.19%;
    cursor: pointer;
}