.Dropdown-Category
{
    box-sizing: border-box;
    position: fixed;
    width: 295px;
    height: 41px;
    left: 40px;
    top: 158px;
    background: #F8F7F7;
    border: 1px solid #000000;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
}


.Small-container {
    position: absolute;
    left: 30.44%;
    right: 25.98%;
    /* top: 20.36%; */
    /* bottom: 55.81%; */
    padding-top: 13.98%;

    background: #F8F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.BOM {
    position: absolute;
    left: -36.94%;
    right: -32.16%;
    top: 10.61%;
    bottom: 73.06%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: #184F79;

}


.branchbank {
    position: absolute;
    left: 10.94%;
    right: 44.84%;
    top: 31.53%;
    bottom: 55.83%;

    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #1E11FD;

}

.requir {
    position: absolute;
    left: 10.94%;
    right: 44.84%;
    top: 50%;
    bottom: 58%;

    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.open {
    position: absolute;
    width: 158px;
    height: 28px;
    left: 70px;
    top: 153px;

    font-family: 'Book Antiqua';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #EF453B;
}

.viewbtn {
    position: absolute;
    left: 80.22%;
    right: 5.16%;
    top: 9%;
    bottom: 75.44%;
    background: #F5D8B4;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}

.editbtn {
    position: absolute;
    left: 80.22%;
    right: 5.16%;
    top: 65%;
    bottom: 19.44%;
    background: #DAEDFF;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}
.ListContainer{
padding-top: 230px;
}

.addbtn1{
    /* padding-top: 70%;
    left: 10px; */
    color: #1E11FD;
    border-color: #1E11FD;
    background-color: white;

}
.AddBtnDiv{
    padding-top: 16%;
    padding-left: 50%;
    padding-bottom: 16%;
}

.Add-Category{
    box-sizing: border-box;
    position: fixed;
    width: 203px;
    height: 41px;
    left: 91px;
    top: 259px;
    background: #F8F7F7;
    border: 1px solid #000000;
    cursor: pointer;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    }
    .addbtn2{
        /* padding-top: 70%;
        left: 10px; */

        box-sizing: border-box;
        position: fixed;
        width: 203px;
        height: 41px;
        left: 91px;
        top: 320px;
        /* background: #F8F7F7; */
        /* border: 1px solid #000000; */
        cursor: pointer;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 27px;
    
        color: #1E11FD;
        border-color: #1E11FD;
        background-color: white;
    
    }