

/* applied jobs */
.topgap
{
    margin-top: 6%;

}
.JobList_container{
    padding-top: 74px;
    padding-left: 378px;
}

.jobtext {
    position: absolute;
    left: 43.2%;
    right: 39.61%;
    top: 15.11%;
    bottom: 72.92%;

    font-family: 'Bauhaus 93';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;

    color: #000000;
}

/* container */
.job-container {
    width: 688px;
    height: 140px;
    padding-left: 50px;
    background: #F8F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.job-text {
    width: 226px;
    height: 42px;
    padding-top: 10px;
    padding-left: 190px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    color: #184F79;
    border-radius: 10px;
}

.jobinlinetxt {
    position: absolute;
    margin-top: 0%;
    margin-left: 3%;
    font-family: 'Bookman Old Style';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #1E11FD;
}

.jobinlinetxtin {

    color: #000000;
    margin-top: 7%;
    margin-left: 3%;
}
.ButtonStatus
{
     padding-left: 510px;
    margin-top: -86px;
}
.appbtn {
    width: 156px;
    height: 40px;
    
    text-align: center;
    background: #CBE6FF;
    border-radius: 10px;
    font-family: 'Arial';
    color: #184F79;
    font-style: normal;
    border: transparent;
    cursor: pointer;
}


.job1-container {
    position: absolute;
    left: 27.34%;
    right: 30.08%;
    top: 48.33%;
    bottom: 29.83%;


    background: #F8F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.job-text1 {
    position: absolute;
    width: 324px;
    left: 21.97%;
    right: 45.94%;
    top: 6.58%;
    bottom: 67.08%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #184F79;
}

.aapbtn1 {
    position: absolute;
    left: 56.72%;
    right: 31.09%;
    top: 60%;
    bottom: 57.22%;
    height: 5%;

    background: #9AFFC2;
    border-radius: 10px;
    border-color: transparent;
}

.job2-container {
    position: absolute;
    left: 27.34%;
    right: 30.08%;
    top: 73.97%;
    bottom: 3.19%;

    background: #F8F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.aapbtn2 {

    position: absolute;
    left: 56.56%;
    right: 31.25%;
    top: 85%;
    bottom: 11.94%;
    height: 5%;

    background: #FECBBB;
    border-radius: 10px;
    border-color: transparent;
}