.jobfieldName {
    position: absolute;
    left: 8.35%;
    right: 83.52%;
    top: 24.58%;
    bottom: 72.22%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.55);
}

.jobfieldNnamebox {
    position: absolute;
    left: 15.34%;
    right: 65.66%;
    bottom: 70.72%;
    height: 41px;
    background: rgba(217, 217, 217, 0.72);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
}

.jobfieldCategory {
    position: absolute;
    left: 8%;
    right: 83.52%;
    top: 37.58%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.55);
}

.jobfieldCategorybox {
    position: absolute;
    left: 15.34%;
    right: 65.66%;
    height: 41px;
    bottom: 57.72%;
    background: rgba(217, 217, 217, 0.72);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
}


.jobfieldOpenings {
    position: absolute;
    left: 8%;
    right: 83.52%;
    top: 50.58%;
    bottom: 72.22%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;



    color: rgba(0, 0, 0, 0.55);
}

.jobfieldOpeningsbox {
    position: absolute;
    left: 15.34%;
    right: 65.66%;
    bottom: 44.72%;
    height: 41px;
    background: rgba(217, 217, 217, 0.72);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
}


.jobfieldSkills {
    position: absolute;
    left: 8.02%;
    right: 83.52%;
    top: 63.58%;
    bottom: 72.22%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.55);
}

.jobfieldSkillsbox {
    position: absolute;
    left: 15.34%;
    right: 65.66%;
    bottom: 31.72%;
    height: 41px;
    background: rgba(217, 217, 217, 0.72);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
}


.jobfieldType {
    position: absolute;
    left: 8.02%;
    right: 83.52%;
    top: 80.58%;
    bottom: 72.22%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.55);
}

.jobfieldTypebox {
    position: absolute;
    left: 15.34%;
    right: 65.66%;
    bottom: 14.72%;
    height: 41px;
    background: rgba(217, 217, 217, 0.72);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
}

.jobfieldDescription {
    position: absolute;
    left: 54.35%;
    right: 83.52%;
    top: 24.58%;
    bottom: 72.22%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.55);
}

.jobfieldDescriptionbox {
    position: absolute;
    left: 63.34%;
    right: 14.66%;
    bottom: 64.72%;
    height: 41px;
    bottom: 70.72%;
    background: rgba(217, 217, 217, 0.72);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
}


.jobfieldExperience {
    position: absolute;
    left: 54.35%;
    right: 83.52%;
    top: 38.58%;
    bottom: 72.22%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.55);
}

.jobfieldExperiencebox {
    position: absolute;
    left: 63.34%;
    right: 14.66%;
    bottom: 56.72%;
    height: 41px;
    background: rgba(217, 217, 217, 0.72);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
}


.jobfieldSalary {
    position: absolute;
    left: 54.35%;
    right: 83.52%;
    top: 53.58%;
    bottom: 41.72%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.55);
}

.jobfieldSalarybox {
    position: absolute;
    left: 63.34%;
    right: 14.66%;
    bottom: 41.72%;
    height: 41px;
    background: rgba(217, 217, 217, 0.72);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
}


.jobfieldContactNo {
    position: absolute;
    left: 54.35%;
    right: 83.52%;
    top: 67.58%;
    bottom: 72.22%;
    width: 114px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.55);
}

.jobfieldContactNobox {
    position: absolute;
    left: 63.34%;
    right: 14.66%;
    bottom: 27.72%;
    height: 41px;
    background: rgba(217, 217, 217, 0.72);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
}


.jobfieldLastDate {
    position: absolute;
    left: 54.35%;
    right: 83.52%;
    top: 79.58%;
    bottom: 72.22%;
    width: 114px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.55);
}

.jobfieldLastDatebox {
    position: absolute;
    left: 63.34%;
    right: 14.66%;
    bottom: 15.72%;
    height: 41px;
    background: rgba(217, 217, 217, 0.72);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
}

.JobAddbtn {
    position: absolute;
    left: 45.19%;
    right: 50.19%;
    top: 90.44%;
    bottom: 5%;
cursor: pointer;
    background: rgba(250, 125, 118, 0.82);
    border-radius: 10px;
    border-color: transparent;
}